header{
  clear: both;
  background-color: tomato;
  height: 85px;
}
header .logo{
  float: left;
  width: 20%;
}
header .title{
  float: left;
  width: 80%
}

nav{
  clear: both;
  background-color: skyblue;
  height: 50px;
  margin-top: -31px;


}
nav ul {
  list-style: none;
  margin: 0;
}
nav ul li {
  float: left;
  margin-top: 1px;
}
nav ul li a {
  font-size: 24px;
  float: left;
  padding: 10px;
  text-decoration:none;
  color: white;
  text-transform: uppercase;
}
nav ul li a:hover {
  float: left;
  background-color: tomato;
  text-decoration: underline;

}

#content{
  clear: both;
  background-color: #f8f5f5;
  min-height: 500px;
      margin: -20px 0 0 0;
      padding: 20px;
}

footer{
  clear: both;
  background-color: tomato;
    margin-top: -20px;
    height: 30px;
    text-align: center;
    padding: 15px 0 0 0;
}